.root{
    -fx-background-size: cover,cover,cover,cover,cover,cover;
    -fx-background-position: bottom, bottom, bottom, bottom, bottom, bottom;
    -fx-background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
    -fx-background-image:
        url("../images/bg.jpg")

}


